{% extends 'homePage/base.html' %}

{% block content %}
  {% for auction in auctions %}
  <h1>{{ auction.auctionTitle }}</h1>
  {% if user == auction.seller %}
      <a href="{% url 'edit_auction' auction.id %}">Edit auction</a>
  {% else %}
      <a href="{% url 'bid_auction' auction.id %}">Bid</a>
  {% endif %}
      <p>Text: {{ auction.description }}</p>
      <p>Minimum bid: {{ auction.minimumPrice }}</p>
      <p>Auction closes: {{ auction.deadline }}</p>
      {# <a href="{% url 'edit_blog' p.id %}">Edit contact</a> #}
      <br>
  {% endfor %}
{% endblock %}
