{% extends 'userView/base.html' %}

{% block content %}
<div><a href="{% url 'logout' %}">Logout</a></div>
<div><a href="{% url 'home' %}">Home</a></div>
<h1>Edit:</h1>
  <div>Username: {{user.username}}</div>
 <form action="{% url 'change_email' %}" method="post">
     {% csrf_token %}
     Email: <input type="text" name="email" value="{{ user.email }}">
     <input type="submit" value="Change email">
 </form>
</br>
 <form action="{% url 'change_password' %}" method="post">
     {% csrf_token %}
     <input type="submit" value="Change password">
 </form>
</br>
<h1>Your auctions:</h1>
 {% for auction in auctions %}
   {% if not auction.banned %}
     <h1>{{ auction.auctionTitle }}</h1>
         <p>Description: {{ auction.description }}</p>
         <p>Closing: {{ auction.deadline }}</p>
         <a href="{% url 'edit_auction' auction.id %}">Edit auction</a>

         <br>
     {% endif %}
 {% endfor %}

{% endblock %}
