{% extends 'base.html' %}

{% block content %}
<h1>Edit:</h1>
  <div>Username: {{user.username}}</div>
 <form action="{% url 'modify_user' %}" method="post">
     {% csrf_token %}
     Email: <input type="text" name="email" value="{{ user.email }}">
     <input type="submit" value="Change email">
 </form>

 <form action="{% url 'change_password' %}" method="post">
     {% csrf_token %}
     Password:<Input type="password"name="password"></Input>
     <input type="submit" value="Change password">
 </form>
{% endblock %}
